<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.szuer.publicboard.mapper.NewsReplyMapper" >
  <resultMap id="BaseResultMap" type="cn.szuer.publicboard.model.NewsReply" >
    <id column="replyID" property="replyid" jdbcType="INTEGER" />
    <result column="targetID" property="targetid" jdbcType="INTEGER" />
    <result column="commentID" property="commentid" jdbcType="INTEGER" />
    <result column="userID" property="userid" jdbcType="INTEGER" />
    <result column="commentTime" property="commenttime" jdbcType="TIMESTAMP" />
    <result column="likeNum" property="likenum" jdbcType="INTEGER" />
    <result column="anonymousState" property="anonymousstate" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.szuer.publicboard.model.NewsReply" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    replyID, targetID, commentID, userID, commentTime, likeNum, anonymousState
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="cn.szuer.publicboard.model.NewsReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.szuer.publicboard.model.NewsReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from news_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news_reply
    where replyID = #{replyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from news_reply
    where replyID = #{replyid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.szuer.publicboard.model.NewsReplyExample" >
    delete from news_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.szuer.publicboard.model.NewsReply" >
    insert into news_reply (replyID, targetID, commentID, 
      userID, commentTime, likeNum, 
      anonymousState, content)
    values (#{replyid,jdbcType=INTEGER}, #{targetid,jdbcType=INTEGER}, #{commentid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{commenttime,jdbcType=TIMESTAMP}, #{likenum,jdbcType=INTEGER}, 
      #{anonymousstate,jdbcType=BIT}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.szuer.publicboard.model.NewsReply" >
    insert into news_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="replyid != null" >
        replyID,
      </if>
      <if test="targetid != null" >
        targetID,
      </if>
      <if test="commentid != null" >
        commentID,
      </if>
      <if test="userid != null" >
        userID,
      </if>
      <if test="commenttime != null" >
        commentTime,
      </if>
      <if test="likenum != null" >
        likeNum,
      </if>
      <if test="anonymousstate != null" >
        anonymousState,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="replyid != null" >
        #{replyid,jdbcType=INTEGER},
      </if>
      <if test="targetid != null" >
        #{targetid,jdbcType=INTEGER},
      </if>
      <if test="commentid != null" >
        #{commentid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="commenttime != null" >
        #{commenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="likenum != null" >
        #{likenum,jdbcType=INTEGER},
      </if>
      <if test="anonymousstate != null" >
        #{anonymousstate,jdbcType=BIT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.szuer.publicboard.model.NewsReplyExample" resultType="java.lang.Integer" >
    select count(*) from news_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update news_reply
    <set >
      <if test="record.replyid != null" >
        replyID = #{record.replyid,jdbcType=INTEGER},
      </if>
      <if test="record.targetid != null" >
        targetID = #{record.targetid,jdbcType=INTEGER},
      </if>
      <if test="record.commentid != null" >
        commentID = #{record.commentid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.commenttime != null" >
        commentTime = #{record.commenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.likenum != null" >
        likeNum = #{record.likenum,jdbcType=INTEGER},
      </if>
      <if test="record.anonymousstate != null" >
        anonymousState = #{record.anonymousstate,jdbcType=BIT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update news_reply
    set replyID = #{record.replyid,jdbcType=INTEGER},
      targetID = #{record.targetid,jdbcType=INTEGER},
      commentID = #{record.commentid,jdbcType=INTEGER},
      userID = #{record.userid,jdbcType=INTEGER},
      commentTime = #{record.commenttime,jdbcType=TIMESTAMP},
      likeNum = #{record.likenum,jdbcType=INTEGER},
      anonymousState = #{record.anonymousstate,jdbcType=BIT},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update news_reply
    set replyID = #{record.replyid,jdbcType=INTEGER},
      targetID = #{record.targetid,jdbcType=INTEGER},
      commentID = #{record.commentid,jdbcType=INTEGER},
      userID = #{record.userid,jdbcType=INTEGER},
      commentTime = #{record.commenttime,jdbcType=TIMESTAMP},
      likeNum = #{record.likenum,jdbcType=INTEGER},
      anonymousState = #{record.anonymousstate,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.szuer.publicboard.model.NewsReply" >
    update news_reply
    <set >
      <if test="targetid != null" >
        targetID = #{targetid,jdbcType=INTEGER},
      </if>
      <if test="commentid != null" >
        commentID = #{commentid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="commenttime != null" >
        commentTime = #{commenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="likenum != null" >
        likeNum = #{likenum,jdbcType=INTEGER},
      </if>
      <if test="anonymousstate != null" >
        anonymousState = #{anonymousstate,jdbcType=BIT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where replyID = #{replyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.szuer.publicboard.model.NewsReply" >
    update news_reply
    set targetID = #{targetid,jdbcType=INTEGER},
      commentID = #{commentid,jdbcType=INTEGER},
      userID = #{userid,jdbcType=INTEGER},
      commentTime = #{commenttime,jdbcType=TIMESTAMP},
      likeNum = #{likenum,jdbcType=INTEGER},
      anonymousState = #{anonymousstate,jdbcType=BIT},
      content = #{content,jdbcType=LONGVARCHAR}
    where replyID = #{replyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.szuer.publicboard.model.NewsReply" >
    update news_reply
    set targetID = #{targetid,jdbcType=INTEGER},
      commentID = #{commentid,jdbcType=INTEGER},
      userID = #{userid,jdbcType=INTEGER},
      commentTime = #{commenttime,jdbcType=TIMESTAMP},
      likeNum = #{likenum,jdbcType=INTEGER},
      anonymousState = #{anonymousstate,jdbcType=BIT}
    where replyID = #{replyid,jdbcType=INTEGER}
  </update>
</mapper>