<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.szuer.publicboard.mapper.SubjectStateMapper" >
  <resultMap id="BaseResultMap" type="cn.szuer.publicboard.model.SubjectState" >
    <id column="subjectID" property="subjectid" jdbcType="INTEGER" />
    <result column="topState" property="topstate" jdbcType="TINYINT" />
    <result column="hotState" property="hotstate" jdbcType="TINYINT" />
    <result column="examineState" property="examinestate" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    subjectID, topState, hotState, examineState
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.szuer.publicboard.model.SubjectStateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from subject_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from subject_state
    where subjectID = #{subjectid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from subject_state
    where subjectID = #{subjectid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.szuer.publicboard.model.SubjectStateExample" >
    delete from subject_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.szuer.publicboard.model.SubjectState" >
    insert into subject_state (subjectID, topState, hotState, 
      examineState)
    values (#{subjectid,jdbcType=INTEGER}, #{topstate,jdbcType=TINYINT}, #{hotstate,jdbcType=TINYINT}, 
      #{examinestate,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.szuer.publicboard.model.SubjectState" >
    insert into subject_state
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subjectid != null" >
        subjectID,
      </if>
      <if test="topstate != null" >
        topState,
      </if>
      <if test="hotstate != null" >
        hotState,
      </if>
      <if test="examinestate != null" >
        examineState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subjectid != null" >
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="topstate != null" >
        #{topstate,jdbcType=TINYINT},
      </if>
      <if test="hotstate != null" >
        #{hotstate,jdbcType=TINYINT},
      </if>
      <if test="examinestate != null" >
        #{examinestate,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.szuer.publicboard.model.SubjectStateExample" resultType="java.lang.Integer" >
    select count(*) from subject_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update subject_state
    <set >
      <if test="record.subjectid != null" >
        subjectID = #{record.subjectid,jdbcType=INTEGER},
      </if>
      <if test="record.topstate != null" >
        topState = #{record.topstate,jdbcType=TINYINT},
      </if>
      <if test="record.hotstate != null" >
        hotState = #{record.hotstate,jdbcType=TINYINT},
      </if>
      <if test="record.examinestate != null" >
        examineState = #{record.examinestate,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update subject_state
    set subjectID = #{record.subjectid,jdbcType=INTEGER},
      topState = #{record.topstate,jdbcType=TINYINT},
      hotState = #{record.hotstate,jdbcType=TINYINT},
      examineState = #{record.examinestate,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.szuer.publicboard.model.SubjectState" >
    update subject_state
    <set >
      <if test="topstate != null" >
        topState = #{topstate,jdbcType=TINYINT},
      </if>
      <if test="hotstate != null" >
        hotState = #{hotstate,jdbcType=TINYINT},
      </if>
      <if test="examinestate != null" >
        examineState = #{examinestate,jdbcType=TINYINT},
      </if>
    </set>
    where subjectID = #{subjectid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.szuer.publicboard.model.SubjectState" >
    update subject_state
    set topState = #{topstate,jdbcType=TINYINT},
      hotState = #{hotstate,jdbcType=TINYINT},
      examineState = #{examinestate,jdbcType=TINYINT}
    where subjectID = #{subjectid,jdbcType=INTEGER}
  </update>
</mapper>